.map-custom-container {
  margin-top: 200px;
  background-color: black;
  background-image: url("https://www.neteasegames.com/pc/gw/20220314172214/img/ditu_b374dc9.png");
  height: 920px;
  img {
    width: 8093px;
    height: 3616px;
    cursor: move;
  }
}
